# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go tests -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Idea files
.idea/*
/bin/
/db/

# Local configurations
/config.yaml
/docker-compose.yml
/config.bulk.json
/Dockerfile

